<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <link rel="stylesheet" href="./css/estiloindex.css">
    <title>JBike</title>
</head>

<body>
    <header>

        <div class="top-header">
            <div class="top">
                <i class="fas fa-bars"></i>
                <div class="logo2">
                    <img class=logo2 src="/image/logos/logophone.png" width="200px">
                </div>
                <i class="fas fa-search"></i>

                <ul class="mainmenu">
                    <li><a href="#">ESHOP</a></li>
                    <li><a href="#">OFERTAS</a></li>
                    <li><a href="#">TU PROPIA AVENTURA</a></li>
                    <LI><a href="#">CONTACTO</a></LI>
                    <li><a href="#">NOSOTROS</a></li>

                </ul>

            </div>

            <div class="low">

                <div class="logo1">
                    <img class="logo1" src="/image/logos/logo.png" width="160px" height="auto">
                </div>
                <form class="search-bar">
                    <input type="text" placeholder="Buscar producto">
                    <i class="fas fa-search"></i>
                </form>

                <div class="user">
                    <i class="fas fa-user"></i>
                    <i class="fas fa-shopping-cart"></i>
                </div>
            </div>
        </div>

        <section class="banner">
            <img src="image/banners/banner7.jpg" width="100%">
        </section>

        <div class="low-header">
            <br>
            <div class="icons">
                <div class="icono">
                    <i class="fas fa-user"></i>
                    <p>Usuario</p>
                </div>

                <div class="icono">
                    <i class="fas fa-bicycle"></i>
                    <p>Prodcutos</p>

                </div>

                <div class="icono">
                    <i class="fas fa-shopping-cart"></i>
                    <p>Carrito</p>

                </div>

            </div>


            <div class="header-banner">
                <div>
                    <i class="fas fa-truck"></i>
                    <p>Envios gratis a todo el pais</p>
                </div>
                <div>
                    <i class="fas fa-credit-card"></i>
                    <p>paga con todas las tarjetas</p>
                </div>
            </div>




        </div>

    </header>



    <section class="productos">

      <div class = "carusel">
          <div class ="titulo">
              <span>Mountain Bikes</span>
        </div>
          <div class = "articulos">
            <article class = "carta">
                <img src="image/Bikes/Mountainbikes/santacruz.jpg" width="100%" alt = "santacruz">
                <div class="info">
                    <span class = "tipo-envio">Envio con normalidad</span>
                    <span class = "precio">$ 200.153</span>
                    <span class = "costo-envio">Envio Gratis</span>
                    <span class = "descripcion">MB SantaCruz</span>
                    <div class = "calificacion">
                        <span>Estrellas</span>
                        <span>1919</span>
                    </div>
                    <span class = "ubicacion">CABA</span>
                </div>
            </article>

            <article class = "carta">
                <img src="image/Bikes/Mountainbikes/cube.jpg" width="100%" alt = "santacruz">
                <div class="info">
                    <span class = "tipo-envio">Envio con normalidad</span>
                    <span class = "precio">$ 152.153</span>
                    <span class = "costo-envio">Envio Gratis</span>
                    <span class = "descripcion">MB Cube</span>
                    <div class = "calificacion">
                        <span>Estrellas</span>
                        <span>1919</span>
                    </div>
                    <span class = "ubicacion">CABA</span>
                </div>
            </article>


            <article class = "carta">
                <img src="image/Bikes/Mountainbikes/radon.jpg" width="100%" alt = "santacruz">
                <div class="info">
                    <span class = "tipo-envio">Envio con normalidad</span>
                    <span class = "precio">$ 352.153</span>
                    <span class = "costo-envio">Envio Gratis</span>
                    <span class = "descripcion">MB Radon</span>
                    <div class = "calificacion">
                        <span>Estrellas</span>
                        <span>1919</span>
                    </div>
                    <span class = "ubicacion">CABA</span>
                </div>
            </article>


            <article class = "carta">
                <img src="image/Bikes/Mountainbikes/focus.jpg" width="100%" alt = "santacruz">
                <div class="info">
                    <span class = "tipo-envio">Envio con normalidad</span>
                    <span class = "precio">$ 650.153</span>
                    <span class = "costo-envio">Envio Gratis</span>
                    <span class = "descripcion">MB Focus</span>
                    <div class = "calificacion">
                        <span>Estrellas</span>
                        <span>1919</span>
                    </div>
                    <span class = "ubicacion">CABA</span>
                </div>
            </article>
        </div>

        </div>


        <div class = "carusel">
            <div class ="titulo">
                <span>Mountain Bikes</span>
          </div>
            <div class = "articulos">
              <article class = "carta">
                  <img src="image/Bikes/Mountainbikes/santacruz.jpg" width="100%" alt = "santacruz">
                  <div class="info">
                      <span class = "tipo-envio">Envio con normalidad</span>
                      <span class = "precio">$ 200.153</span>
                      <span class = "costo-envio">Envio Gratis</span>
                      <span class = "descripcion">MB SantaCruz</span>
                      <div class = "calificacion">
                          <span>Estrellas</span>
                          <span>1919</span>
                      </div>
                      <span class = "ubicacion">CABA</span>
                  </div>
              </article>
  
              <article class = "carta">
                  <img src="image/Bikes/Mountainbikes/cube.jpg" width="100%" alt = "santacruz">
                  <div class="info">
                      <span class = "tipo-envio">Envio con normalidad</span>
                      <span class = "precio">$ 152.153</span>
                      <span class = "costo-envio">Envio Gratis</span>
                      <span class = "descripcion">MB Cube</span>
                      <div class = "calificacion">
                          <span>Estrellas</span>
                          <span>1919</span>
                      </div>
                      <span class = "ubicacion">CABA</span>
                  </div>
              </article>
  
  
              <article class = "carta">
                  <img src="image/Bikes/Mountainbikes/radon.jpg" width="100%" alt = "santacruz">
                  <div class="info">
                      <span class = "tipo-envio">Envio con normalidad</span>
                      <span class = "precio">$ 352.153</span>
                      <span class = "costo-envio">Envio Gratis</span>
                      <span class = "descripcion">MB Radon</span>
                      <div class = "calificacion">
                          <span>Estrellas</span>
                          <span>1919</span>
                      </div>
                      <span class = "ubicacion">CABA</span>
                  </div>
              </article>
  
  
              <article class = "carta">
                  <img src="image/Bikes/Mountainbikes/focus.jpg" width="100%" alt = "santacruz">
                  <div class="info">
                      <span class = "tipo-envio">Envio con normalidad</span>
                      <span class = "precio">$ 650.153</span>
                      <span class = "costo-envio">Envio Gratis</span>
                      <span class = "descripcion">MB Focus</span>
                      <div class = "calificacion">
                          <span>Estrellas</span>
                          <span>1919</span>
                      </div>
                      <span class = "ubicacion">CABA</span>
                  </div>
              </article>
          </div>
  
          </div>
    </section>


    <section class="productos-celu">
        
              <article class = "carta">
                <div class ="titulo">
                    <span>Bicicleta del dia</span>
              </div>
                  <img src="image/Bikes/Mountainbikes/santacruz.jpg" width="100%" alt = "santacruz">
                  <div class="info">
                    <span class = "descripcion">Santa Cruz
                        Megatower CR</span>
                      <span class = "precio">$ 200.153</span>
                      <span class = "costo-envio">Envio Gratis</span>
                      
                    </div>
                      <div class = "link">
                          <a href ="#">Ver todas las biciletas</a>
                      </div>
                  
              </article>

              <article class = "carta">
                <div class ="titulo">
                    <span>Oferta del dia</span>
              </div>
                  <img src="image/Bikes/ebikes/cube.jpg" width="100%" alt = "santacruz">
                  <div class="info">

                      <span class = "descripcion">Cube
                        Compact Hybrid iridium´n´black</span>
                      <span class = "precio">$ 200.153</span>
                      <span class = "costo-envio">Envio Gratis</span>
                  </div>
                      <div class = "link">
                        <a href ="#">Ver todas las biciletas</a>
                    </div>
                  
              </article>

    </section>


    <section class = "categorias">
        <h3>Las mas destacadas</h3>
        <div class = "categoria">
            <a href ="#" ><img src = "image/categorias/fixie.jpg" ></a>
            <h3>FIXIES</h3>
        </div>

        <div class = "categoria">
            <a href ="#" ><img src = "image/categorias/mb.jpg"></a>
            <h3>MOUNTIN BIKE</h3>
        </div>

        <div class = "categoria">
            <a href ="#" ><img src = "image/categorias/kid.jpg" ></a>
            <h3>NIÑ@S</h3>
        </div>

        <div class = "categoria">
            <a href ="#" ><img src = "image/categorias/race.jpg"></a>
            <h3>RUTA</h3>
        </div>








    </section>


    <footer>






    </footer>
</body>

</html>