<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href=" https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css ">
    <link rel="stylesheet" href="./css/estiloindex.css">
    <title>JBike</title>
</head>

<body>
    <header>
       

        

            <div class="top-header">
                 <i class="fas fa-bars"></i>
                 <div class="logo">
                    <img src="/image/logos/logo.png" width="160px" height="auto">
                </div>
    
                <i class="fas fa-search"></i>
            </div>


            <section class="banner">
                <img src="image/banners/banner.jpg" width="100%" height="auto">
            </section>
        
        

        <div class="low-header">

          
            <br>

           

        <div class="icons">
            <div class = "icono">
            <i class="fas fa-user"></i>
                <p>Usuario</p>
            </div>

            <div class="icono">
            <i class="fas fa-bicycle"></i>
                <p>Prodcutos</p>

            </div>

            <div class="icono">
            <i class="fas fa-shopping-cart"></i> 
            <p>Carrito</p>

            </div>

        </div>


        <div class = "header-banner">
            <div>
                <i class="fas fa-truck"></i>
            <p>Envios gratis a todo el pais</p>
           </div>
           <div>
            <i class="fas fa-credit-card"></i>
            <p>paga con todas las tarjetas</p>
           </div>
        </div>


       

    </div>

    </header>

   

    <section class="productos">
        <div class="categoria">
            <h3 class = nombre-cat>Ofertas</h3>
            <article>
                <img src="image/Bikes/Mountainbikes/santacruz.jpg" width="100%">
                <div class = "desc">
                <div class="nombre-precio">
                    <h3 class = "nombre">
                    Santa Cruz Nomad 5
                    </h3>
                    <h3 class = "precio">
                    195.999$
                    </h3>
                </div>
                <h3 class="descuento">
                    10%
                </h3>
              
            </article>
      

            <article>
                <img src="image/Bikes/Mountainbikes/radon.jpg" width="100%">
                <div class = "desc">
                    <div class="nombre-precio">
                        <h3 class = "nombre">
                        Radon Jab10.0 HD
                        </h3>
                        <h3 class = "precio">
                        185.999$
                        </h3>
                    </div>
                    <h3 class="descuento">
                        20%
                    </h3>


            </article>


            <article>

                <div class = "desc">
                    <img src="image/Bikes/Mountainbikes/cube.jpg" width="100%">
                    <div class="nombre-precio">
                        <h3 class = "nombre">
                        Cube Stere0 140 HPC
                        </h3>
                        <h3 class = "precio">
                        185.999$
                        </h3>
                    </div>
                    <h3 class="descuento">
                        20%
                    </h3>


            </article>


            <div class = "desc">
                <img src="image/Bikes/Mountainbikes/focus.jpg" width="100%">
                <div class="nombre-precio">
                    <h3 class = "nombre">
                    Focus SAM 9.9
                    </h3>
                    <h3 class = "precio">
                    165.999$
                    </h3>
                </div>
                <h3 class="descuento">
                    15%
                </h3>


            </article>
        </div>



        
            <div class="categoria">
                <h3 class = "nombre-cat"> Mountain Bike</h3>
                <article>

                </article>



                <article>



                </article>


                <article>



                </article>


                <article>



                </article>
            </div>

        </section>


        <footer>






        </footer>
</body>

</html>