<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilosProducto.css">
    <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <title>Index</title>
</head>

<body>
    <div class="padre">
        <header class="header">
        </header>
        <main>
            <section class="sectionLeft">
                <img src="image/biciImg1.jpg" id="imagenPrincipal">
                <div class="imagenesAbajo">
                    <img src="image/biciImgA.jpg" id="imagenSecundaria">
                    <img src="image/biciImgB.jpg" id="imagenSecundaria">
                    <img src="image/biciImgC.jpg" id="imagenSecundaria">
                    <img src="image/biciImgD.jpg" id="imagenSecundaria">
                </div>
                <p class="descripcionProducto">
                    Sed sed arcu tincidunt, volutpat diam at, faucibus dolor. 
                    Morbi eu lacus et ligula laoreet bibendum sit amet vitae massa. 
                    Integer lobortis odio non mauris semper pretium. Integer rhoncus purus id nisl bibendum accumsan. 
                    Nulla rhoncus quam elit, in convallis lacus aliquam eget. Ut mi enim, rhoncus ac enim eget, varius pharetra tortor. 
                    Curabitur sit amet tortor egestas, tempor tortor in, accumsan ligula. Mauris sit amet elit vitae ligula auctor consectetur. 
                    Donec at diam sed justo ornare fringilla quis in erat. 
                    Curabitur vulputate euismod porttitor. Vestibulum interdum at metus quis maximus. 
                    Aenean ullamcorper malesuada urna, ac rutrum velit porta a. 
                    Vivamus elementum leo felis, sed facilisis enim faucibus eu.
                </p>
            </section>
            <section class="sectionRight">
                <h1>PRODUCT NAME - MODEL</h1>
                <h2>In sit amet pharetra nulla, in congue eros. Phasellus fermentum lobortis eros, eu tincidunt urna semper ut. </h2>
                <h3>$99.000,00</h3>
                <form action="" method="">
                    <div class="caracteristicas">
                        <select name="rodado" id="rodado">
                            <option value="24">24</option>
                            <option value="26">26</option>
                            <option value="28">28</option>
                        </select>
                        <select name="color" id="color">
                            <option value="amarillo">Amarillo</option>
                            <option value="naranja">Naranja</option>
                            <option value="fuxia">Fuxia</option>
                        </select>
                    </div>
                    <div class="counter">
                        <span class="down" onClick='decreaseCount(event, this)'>-</span>
                        <input type="text" value="1">
                        <span class="up"  onClick='increaseCount(event, this)'>+</span>
                    </div>
                    <button id="addToCart">Agregar al carrito</button>
                </form>
            <p class="cuotas">Hasta 12 cuotas sin interes</p>
            </section>
        </main>
        <footer class="footer">
            <div class="linksFooter1">
                <ul><link rel="stylesheet" href="">Sobre nosotros</ul>
                <ul><link rel="stylesheet" href="">Quienes somos</ul>
            </div>
            <div class="linksFooter2">
                <ul><link rel="stylesheet" href="">Información adicional</ul>
                <ul><link rel="stylesheet" href="">Cambios y devoluciones</ul>
                <ul><link rel="stylesheet" href="">Preguntas frecuentes</ul>
            </div>
            <div class="redesSociales">
                <p>Sigamos conectados</p>
                <div class="iconosRedes">
                    <i class="icon-instagram"></i>
                    <i class="icon-facebook"></i>
                    <i class="icon-youtube"></i>
                </div>
            </div>
            <div class="informacion">
                <i class="icon-location-arrow">Avenida Grupo8</i>
                <i class="icon-phone">011-4444-4444</i>
                <i class="icon-envelope">grupo8@dominio.com</i>
            </div>

        </footer>
    </div>
</body>

</html>