/*  *{box-sizing: border-box;}


body{
    margin: 0px;
    background-color: rgb(240, 240, 240);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

header{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white
}

header .banner {
    margin-top: 110px;
}


header .mid-header{
    display: none;
}

header .top-header .top .logo2{
    display: block;
    width: 80px;
}

header .top-header .low{
    display: none;

}

header .header-banner{
    opacity: 0.9;
    background: rgb(52,7,7);
    background: radial-gradient(circle, rgba(52,7,7,1) 0%, rgba(180,20,52,1) 100%);
    padding-bottom: 5px;
}

header .header-banner .contenedor{

    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 5px;

    
}

header .header-banner .contenedor div{
    margin: 10px;}



    header .top-header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        position: fixed;
        z-index: 10;

    }

    header .top-header  ul{
        display: none;
    }
    

        header .top-header .top{
            width: 100%;
            margin:10px auto;
            display: flex;
            justify-content: space-between;
        
            background-color: white;
            
            position: relative;
        }
   

        header .top-header .top i{
            font-size: 28px;
            align-self: center;
            opacity: 60%;
            padding: 20px;
        }
    
    header .low-header{
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    header .low-header .icons{
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        margin: 0 30px;
        margin-top: 5px;
        padding: 5px;
    }

    header .low-header .icons .icono{
        display: flex;
        flex-direction: column;
        opacity: 75%;


    }

    header .low-header .icons .icono i{
        margin: auto;



    }


    header .low-header .icons .icono p{
        font-size:14px;
        color: black;

    }

  


    header .low-header .logo{
        align-self: center;
    }



@media screen and (min-width:768px)
{

    header .top-header{
        flex-direction: column;
        width: 100%;
        margin-bottom: 0;
    }

    header .top-header .top{
        margin: auto;
        width: 100%;
        align-self: center;
        padding: 20px;
    }

    header .top-header .logo{
        margin: auto;
    }

    header .top-header .top .logo img{
        width: 320px;
    }

    header .top-header .top i{
        font-size: 42px;
        color:black;
    }

    header .top-header .mainmenu{
        display: flex;
        justify-content: space-around;
        order: 2;
        padding: 0 15px;
    }

    header .top-header .mainmenu li{
        list-style: none;
    }

    header .top-header .mainmenu li a{
        text-decoration: none;
        font-style: none;
        color: white
        
    }

    header .low-header .icons{
        justify-content: space-around;
        font-size: 36px;
        margin: 0 15px;
    }

    header .low-header .header-banner div i{
        font-size: 26px;
    }

    header .top-header .mainmenu {
        display: none;
    }



}


@media screen and (min-width:1242px)
{

    body{
        margin: 0;
    }

    header{
        display: flex;
        flex-direction: column;
    }

    header .top-header{
        display: flex;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        order: 1;
      
    }

    header .banner{
        margin-top: 220px;
    }

    header .top-header .low .user a i {
        color: black;
        opacity: 90%;
    }
 

   



    header .top-header .low .search-bar i{
        font-size: 20px;
        text-align: center;
        position: relative;
        padding: 10px 10px;
        margin: 0;
        border-left: 1px solid black;
        opacity: 90%;
    }


    header .top-header .top{
        display: flex;
        justify-content: space-between;
        order:2;
        width: 100%;
        align-self: center;
        border-top: 3px solid rgba(51, 62, 72, 0.1);
        border-bottom: 3px solid rgba(51, 62, 72, 0.1);

    }

    header .top-header .top .mainmenu li:hover a {
        background-color: rgba(0, 0, 0, 0.39);
        color:white;
        transition: all 230ms;

    
    }
        

    

    header .top-header .top i{
        display: none;
        order: 4;
    }

    header .top-header .logo1 img{
        width: 300px;
    }
   
    

    header .top-header .mainmenu{
        display: flex;
        justify-content: space- space-around;
        flex: 1 2 auto;
        margin: 0;
        padding: 3px
        

        
    }

    header .top-header .mainmenu li a{
        color:black;
        font-size: 20px;
        font-weight: 450;
        padding: 0px 15px;
        border-right: 3px solid rgba(51, 62, 72, 0.1);
        border-left:  3px solid rgba(51, 62, 72, 0.1);
        margin: auto;

        
    }

    header .top-header .mainmenu li{
        margin: 0px 20px;
        align-self: center; }




        header .mid-header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;   
            margin: 15px 10px;     
        }

        header .mid-header .search-bar input{
            max-width: 800px;
        }

    
        header .low-header{
            display: block;
            order: 0;
            margin-top: -25px;
           
            height: 90px;
        }

        header .low-header .header-banner{
            justify-content: center;
            text-align: center;
        }

        header .low-header .header-banner .contenedor{
         display: flex;
         justify-content: space-around;
         width: 80%;
         max-width: 1300px;
         margin: auto;
        }
        
    

        header .low-header .header-banner .contenedor div{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin: 0px 20px;
        }
        header .low-header .header-banner .contenedor div i{
            align-self: center;
            margin: 10px 10px;
        }

        header .low-header .header-banner .contenedor div p{
            text-align: center;
            margin: 0;
        }

        header .low-header .icons{
            display: none;
        }




header .top-header .top .logo2{
    display:none;
}


header .top-header .low{
    display: flex;
    justify-content: space-between;
    padding:20px 0px ;
    width: 90%;
    margin: auto;
    max-width: 1200px;
}


header .top-header .low .user{
    font-size: 30px;
    align-self: center;
    color: black;
    position: relative;
    right: 10px;
    opacity: 85%;
    bottom: 3px;
}


header .top-header .low form{
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: row;
    border: 1.5px solid black;
    right: 15px;
    top: 1px;
    opacity: 100%;
    border-radius: 3px;


}

header .top-header .low form input{
    opacity: 85%;
    display: flex;
    height: 40px;
    padding: 15px;
    width: 600px;
    border:none
}




}


/***************************fin style header**********************************/

/*****************************************************************************FIN DEL HEADER*************************************************************************/

/*********************************MAIN****************************************/

/*
    main {
        background-color: white;
        display: flex;
        flex-direction: row;
        margin: 0px 0px 0px 0px;
        padding: 25px 5px 5px 5px;
    }
        .sectionLeft {
            background-color: white;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0px;
            padding: 0px;
        }

            #imagenPrincipal {
                width: 100%;
                height: 50%;
                margin: 10px 0px 0px 0px;
                padding: 0px;
                border-style: solid;
                border-width: 1px;
                border-color: lightgrey;
            }

            .imagenesAbajo {
                width: 100%;
                height: 20%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                margin: 0px;
                padding: 0px;
            }

                #imagenSecundaria {
                    width: 20%;
                    height: 80%;
                    padding: 0px;
                    margin: 0px;
                    border-style: solid;
                    border-width: 1px;
                    border-color: lightgrey;
                }

                .descripcionProducto {
                    font-size: 12px;
                    text-align: justify;
                    height: 30%;
                    width: 100%;
                    margin: 10px 0px 10px 0px;
                    padding: 0px;
                }

        .sectionRight {
            background-color:white;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin: 0px;
            padding: 10px;
        }

            h1 {
                font-size: 25px;
                font-weight: bold;
                margin: 0px 0px 5px 0px;
                padding: 0px;
                height: 7.5%;
            }

            h2 {
                font-size: 16px;
                font-weight: 500;
                margin: 0px 0px 5px 0px;
                padding: 0px;
                height: 10%;
            }

            h3 {
                font-size: 25px;
                margin: 0px 0px 5px 0px;
                padding: 0px;
                height: 7.5%;
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: left;
                margin: 0px;
                padding: 0px;
                height: 40%;
            }

                .caracteristicas {
                    display: flex;
                    flex-direction: row;
                    margin: 10px 10px 10px 0px;
                    padding: 0px;
                    height: 25%;
                }

                    #rodado {
                        width: 50%;
                        margin: 10px 10px 10px 0px;
                        font-size: 20px;
                        border-style: solid;
                        border-width: 2px;
                        border-color: lightgray;
                    }

                    #color {
                        width: 50%;
                        margin: 10px 0px 10px 10px;
                        font-size: 20px;
                        border-style: solid;
                        border-width: 2px;
                        border-color: lightgray;
                    }

                    .counter {
                        display: flex;
                        align-items: center;
                        padding: 0px;
                        margin: 10px 10px 0px 0px;
                        height: 25%;
                    }
                        .counter input {
                            width: 50px;
                            border: 0;
                            line-height: 30px;
                            font-size: 25px;
                            text-align: center;
                            background: black;
                            color: white;
                            appearance: none;
                            outline: 0;
                        }
                        .counter span {
                            display: block;
                            font-size: 30px;
                            padding: 0 10px;
                            cursor: pointer;
                            color: black;
                            user-select: none;
                        }

                button {
                    background-color: darkred;
                    color: white;
                    font-weight: bold;
                    font-size: 20px;
                    border-radius: 5px;
                    border: 0px;
                    margin: 10px 10px 10px 0px;
                    height: 20%;
                    transition: all 0.2s;
                }

                button:hover{
                    background-color:rgba(52,7,7,1);
                    border-style: solid;
                    border-width: 5px;
                    border-color:darkred;
                    }
            
                .cuotas {
                    margin: 0px 0px 0px 0px;
                    padding: 0px;
                    font-size: 14px;
                    color: lightslategrey;
                }

/*******************************************Media Q body**********************************/

/*

@media screen and (max-width:768px)
{
    main {
        background-color: white;
        display: flex;
        flex-direction: column;
        padding: 20px;
        margin: 20px;
        box-shadow: 0px 0px 30px rgba(0,0,0,0.3);
        border-radius: 10px;

    }

    .sectionLeft {
        background-color: white;
        width: auto;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0px;
        padding: 0px;
        order:1;
        
    }

        #imagenPrincipal {
            width: 100%;
            height: 50%;
            margin: 10px 0px 0px 0px;
            padding: 0px;
            border-style: solid;
            border-width: 1px;
            border-color: lightgrey;
        }

        .imagenesAbajo {
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 20px 0px 20px 0px;
            padding: 0px;
        }

            #imagenSecundaria {
                width: 20%;
                height: 80%;
                padding: 0px;
                margin: 0px;
                border-style: solid;
                border-width: 1px;
                border-color: lightgrey;
            }

            .descripcionProducto {
                font-size: 12px;
                text-align: justify;
                height: 30%;
                width: 100%;
                margin: 10px 0px 10px 0px;
                padding: 0px;
            }

    .sectionRight {
        background-color:white;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0px;
        padding: 10px;
    }

        h1 {
            font-size: 25px;
            font-weight: bold;
            margin: 0px 0px 5px 0px;
            padding: 0px;
            height: 7.5%;
        }

        h2 {
            font-size: 16px;
            font-weight: 500;
            margin: 0px 0px 5px 0px;
            padding: 0px;
            height: 10%;
        }

        h3 {
            font-size: 25px;
            margin: 0px 0px 5px 0px;
            padding: 0px;
            height: 7.5%;
        }

        form {
            display: flex;
            flex-direction: column;
            justify-content: left;
            margin: 0px;
            padding: 0px;
            height: 40%;
        }

            .caracteristicas {
                display: flex;
                flex-direction: row;
                margin: 10px 10px 10px 0px;
                padding: 0px;
                height: 25%;
            }

                #rodado {
                    width: 50%;
                    margin: 10px 10px 10px 0px;
                    font-size: 20px;
                    border-style: solid;
                    border-width: 2px;
                    border-color: lightgray;
                }

                #color {
                    width: 50%;
                    margin: 10px 0px 10px 10px;
                    font-size: 20px;
                    border-style: solid;
                    border-width: 2px;
                    border-color: lightgray;
                }

                .counter {
                    display: flex;
                    align-items: center;
                    padding: 0px;
                    margin: 10px 10px 0px 0px;
                    height: 25%;
                }
                    .counter input {
                        width: 50px;
                        border: 0;
                        line-height: 30px;
                        font-size: 25px;
                        text-align: center;
                        background: black;
                        color: white;
                        appearance: none;
                        outline: 0;
                    }
                    .counter span {
                        display: block;
                        font-size: 30px;
                        padding: 0 10px;
                        cursor: pointer;
                        color: black;
                        user-select: none;
                    }

            button {
                background-color: darkred;
                color: white;
                font-weight: bold;
                font-size: 20px;
                border-radius: 5px;
                border: 0px;
                margin: 10px 10px 10px 0px;
                height: 20%;
                transition: all 0.2s;
            }

            button:hover{
                background-color:rgba(52,7,7,1);
                border-style: solid;
                border-width: 5px;
                border-color:darkred;
                }
        
            .cuotas {
                margin: 0px 0px 0px 0px;
                padding: 0px;
                font-size: 14px;
                color: lightslategrey;
            }
}

@media screen and (min-width:1242px)
{
 
}

/****************************************************************************FIN DEL MAIN***********************************************************************************/

/*******************************************Footer****************************************/
/*

.footer-basic {
    padding:40px 0;
    background: rgb(52,7,7);
    background: radial-gradient(circle, rgba(52,7,7,1) 0%, rgba(180,20,52,1) 100%);
    color:white;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }

/*****************************************************************************FIN DEL FOOTER*************************************************************************/


